# March Madness Machine Learning Project 
#### never lose your family braket challenge to your aunt who knows nothing about basketball ever again 
## James Griffin -- Kaggle Competition

In [91]:
# Importing LOTS of stuff 

from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import learning_curve
from sklearn.metrics import make_scorer
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import ElasticNetCV
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model
from sklearn.model_selection import train_test_split

#from online suggestions I was reading 
from string import ascii_letters
import seaborn as sns
import statsmodels.api as sm # for linear regression, found it on some article 

# to solve problems that I am encounterinbg
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt #plotting for visualization purposes of story telling 
import numpy as np

import datetime
import gc
import numpy as np
import os
import operator
import pandas as pd
from tqdm import tqdm
import numpy as np
import seaborn as sns
sns.set_palette(sns.color_palette('hls', 7))

from statistics import mean

import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import describe
%matplotlib inline

from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import f1_score, mean_squared_error
from sklearn.model_selection import KFold, RepeatedKFold, GroupKFold
import random 
from random import sample

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import f1_score, classification_report
from collections import Counter
from sklearn.metrics import classification_report, roc_auc_score
from sklearn.ensemble import GradientBoostingClassifier
from collections import Counter
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.model_selection import train_test_split, GridSearchCV
!pip install imblearn
from imblearn.over_sampling import RandomOverSampler

from sklearn.model_selection import cross_val_score, train_test_split, RandomizedSearchCV

Requirement already satisfied: imblearn in c:\users\13855\anaconda_re_do\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\13855\anaconda_re_do\lib\site-packages (from imblearn) (0.4.3)
Requirement already satisfied: scipy>=0.13.3 in c:\users\13855\anaconda_re_do\lib\site-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: scikit-learn>=0.20 in c:\users\13855\anaconda_re_do\lib\site-packages (from imbalanced-learn->imblearn) (0.20.1)
Requirement already satisfied: numpy>=1.8.2 in c:\users\13855\anaconda_re_do\lib\site-packages (from imbalanced-learn->imblearn) (1.15.4)

In [148]:
# teams that could make the tournament all D1 teams 

teams = pd.read_csv("Teams.csv")
teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2018
1    1102    Air Force           1985          2018
2    1103        Akron           1985          2018
3    1104      Alabama           1985          2018
4    1105  Alabama A&M           2000          2018

In [149]:
# Tournament details since 2003 

tourney_deets = pd.read_csv("NCAATourneyDetailedResults.csv")
tourney_deets.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [150]:
# details of the regular season 

reg_deets = pd.read_csv("RegularSeasonDetailedResults.csv")
reg_deets.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [151]:
# basic tournament details 

tourney_compact_deets =  pd.read_csv("NCAATourneyCompactResults.csv")
tourney_compact_deets.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [152]:
# regular season basic details, days they were plaid, who won, who lost, 
'''
feature idea score differential WScore - LScore 

We'll go ahead and create this for both the Tournament and regular season compact data

We'll add this feature to our detailed data frame rather than our compact one.
'''

reg_season_compact = pd.read_csv("RegularSeasonCompactResults.csv")
reg_season_compact.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [153]:
# creating feature 

reg_deets['score_diff'] = reg_deets['WScore']-reg_deets['LScore']

tourney_deets['score_diff'] = tourney_deets['WScore'] -tourney_deets['LScore']

reg_deets.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,score_diff
0,2003,10,1104,68,1328,62,N,0,27,58,...,16,22,10,22,8,18,9,2,20,6
1,2003,10,1272,70,1393,63,N,0,26,62,...,9,20,20,25,7,12,8,6,16,7
2,2003,11,1266,73,1437,61,N,0,24,58,...,14,23,31,22,9,12,2,5,23,12
3,2003,11,1296,56,1457,50,N,0,18,38,...,8,15,17,20,9,19,4,3,23,6
4,2003,11,1400,77,1208,71,N,0,30,61,...,17,27,21,15,12,10,7,1,14,6

In [154]:
tourney_seeds = pd.read_csv("NCAATourneySeeds.csv")
tourney_seeds.head()

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

In [155]:
seasons = pd.read_csv("Seasons.csv")
seasons.head()

   Season     DayZero RegionW    RegionX    RegionY    RegionZ
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988   11/2/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast

Ok a few obsticals right off the bat, WTeamID and LteamID are the foreign keys to our teams table.  This reminds me of sql how that will be a primary key and the W/LTeamID will be the foreign key.  We'll need to find a way to connect these tables and get the computer to recognize that they are the same team.

In [156]:
tourney_slots = pd.read_csv("NCAATourneySlots.csv")
tourney_slots.head()

   Season  Slot StrongSeed WeakSeed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12

In [157]:
tourney_seed_rounds = pd.read_csv("NCAATourneySeedRoundSlots.csv")
tourney_seed_rounds.head()

  Seed  GameRound GameSlot  EarlyDayNum  LateDayNum
0  W01          1     R1W1          136         137
1  W01          2     R2W1          138         139
2  W01          3     R3W1          143         144
3  W01          4     R4W1          145         146
4  W01          5     R5WX          152         152

Another thought is that we will drop all of our data that pre dates the 2003 season. The detailed regular season and tournament tables start at 2003, additionally, the game of basketball has evolved since hte 80's and teams that were powerful then, aren't necesiarily the same ones that are good now, even though teams like Duke and UNC still are.

Subsetting data to only have observations from the 2003 season onward

In [158]:
seasons = seasons[seasons['Season'] >= 2003]

tourney_compact_dets = tourney_compact_dets[tourney_compact_dets['Season'] >= 2003]

reg_season_compact = reg_season_compact[reg_season_compact['Season'] >= 2003]

tourney_seeds = tourney_seeds[tourney_seeds['Season'] >= 2003]

tourney_seeds.head()

      Season Seed  TeamID
1154    2003  W01    1328
1155    2003  W02    1448
1156    2003  W03    1393
1157    2003  W04    1257
1158    2003  W05    1280

Awesome, so that looks like that worked and we can go ahead and try and combine the tables using Sqlite3

In [164]:
import sqlite3
import csv

#https://www.dataquest.io/blog/python-pandas-databases

#creating a data base to hold my tables 
def march_madness_db(db_file = "march_madness.db", 
                    data_file = ["teams.csv", "tourney_seeds.csv"]):#,
                    #data_file2 = "tourney_seeds.csv"):
    #create cursor which allows us to execute sql quities against a data base 
    
    with open(data_file, "r") as infile:
        rows = list(csv.reader(infile))
    
    with sql.connect(db_file) as conn:
        cur = conn.cursor()
        
        #recreate the table
        cur.execute("DROP TABLE IF EXISTS teams;")
        cur.execute("CREATE TABLE teams (TeamID INTEGER, TeamName STRING, FirstD1Season	 INTEGER, LastD1Season INTEGER);")
        
        cur.execute("DROP TABLE IF EXISTS tourney_seeds")
        cur.execute("CREATE TABLE tourney_seeds (Season INTEGER, Seed STRING, TeamID INTEGER);")
        
        
        
        #populate the table 
        cur.executemany("INSERT INTO teams VALUES (?, ?, ?, ?);", rows)
        #cur.executemany("INSERT INTO tourney_seeds VALUES (?, ?, ?);", rows)
        
        
        
    for row in cur.execute("SELECT * FROM teams"):
        print(row)
        
    for row in cur.execute("SELECT * FROM tourney_seeds"):
        print(row)
        
    conn.commit()
    
conn.close()

if __name__ == "__main__":
    march_madness_db(db_file = "march_madness.db", data_file = "teams.csv")
    #march_madness_db(db_file = "march_madness.db", data_file = 'tourney_seeds.csv')

('TeamID', 'TeamName', 'FirstD1Season', 'LastD1Season')
(1101, 'Abilene Chr', 2014, 2018)
(1102, 'Air Force', 1985, 2018)
(1103, 'Akron', 1985, 2018)
(1104, 'Alabama', 1985, 2018)
(1105, 'Alabama A&M', 2000, 2018)
(1106, 'Alabama St', 1985, 2018)
(1107, 'Albany NY', 2000, 2018)
(1108, 'Alcorn St', 1985, 2018)
(1109, 'Alliant Intl', 1985, 1991)
(1110, 'American Univ', 1985, 2018)
(1111, 'Appalachian St', 1985, 2018)
(1112, 'Arizona', 1985, 2018)
(1113, 'Arizona St', 1985, 2018)
(1114, 'Ark Little Rock', 1985, 2018)
(1115, 'Ark Pine Bluff', 1999, 2018)
(1116, 'Arkansas', 1985, 2018)
(1117, 'Arkansas St', 1985, 2018)
(1118, 'Armstrong St', 1987, 1987)
(1119, 'Army', 1985, 2018)
(1120, 'Auburn', 1985, 2018)
(1121, 'Augusta', 1985, 1991)
(1122, 'Austin Peay', 1985, 2018)
(1123, 'Ball St', 1985, 2018)
(1124, 'Baylor', 1985, 2018)
(1125, 'Belmont', 2000, 2018)
(1126, 'Bethune-Cookman', 1985, 2018)
(1127, 'Binghamton', 2002, 2018)
(1128, 'Birmingham So', 2003, 2006)
(1129, 'Boise St', 1985, 2018)
(1130, 'Boston College', 1985, 2018)
(1131, 'Boston Univ', 1985, 2018)
(1132, 'Bowling Green', 1985, 2018)
(1133, 'Bradley', 1985, 2018)
(1134, 'Brooklyn', 1985, 1992)
(1135, 'Brown', 1985, 2018)
(1136, 'Bryant', 2009, 2018)
(1137, 'Bucknell', 1985, 2018)
(1138, 'Buffalo', 1992, 2018)
(1139, 'Butler', 1985, 2018)
(1140, 'BYU', 1985, 2018)
(1141, 'C Michigan', 1985, 2018)
(1142, 'Cal Poly SLO', 1995, 2018)
(1143, 'California', 1985, 2018)
(1144, 'Campbell', 1985, 2018)
(1145, 'Canisius', 1985, 2018)
(1146, 'Cent Arkansas', 2007, 2018)
(1147, 'Centenary', 1985, 2011)
(1148, 'Central Conn', 1987, 2018)
(1149, 'Charleston So', 1985, 2018)
(1150, 'Charlotte', 1985, 2018)
(1151, 'Chattanooga', 1985, 2018)
(1152, 'Chicago St', 1985, 2018)
(1153, 'Cincinnati', 1985, 2018)
(1154, 'Citadel', 1985, 2018)
(1155, 'Clemson', 1985, 2018)
(1156, 'Cleveland St', 1985, 2018)
(1157, 'Coastal Car', 1987, 2018)
(1158, 'Col Charleston', 1992, 2018)
(1159, 'Colgate', 1985, 2018)
(1160, 'Colorado', 1985, 2018)
(1161, 'Colorado St', 1985, 2018)
(1162, 'Columbia', 1985, 2018)
(1163, 'Connecticut', 1985, 2018)
(1164, 'Coppin St', 1986, 2018)
(1165, 'Cornell', 1985, 2018)
(1166, 'Creighton', 1985, 2018)
(1167, 'CS Bakersfield', 2008, 2018)
(1168, 'CS Fullerton', 1985, 2018)
(1169, 'CS Northridge', 1991, 2018)
(1170, 'CS Sacramento', 1992, 2018)
(1171, 'Dartmouth', 1985, 2018)
(1172, 'Davidson', 1985, 2018)
(1173, 'Dayton', 1985, 2018)
(1174, 'Delaware', 1985, 2018)
(1175, 'Delaware St', 1985, 2018)
(1176, 'Denver', 1999, 2018)
(1177, 'DePaul', 1985, 2018)
(1178, 'Detroit', 1985, 2018)
(1179, 'Drake', 1985, 2018)
(1180, 'Drexel', 1985, 2018)
(1181, 'Duke', 1985, 2018)
(1182, 'Duquesne', 1985, 2018)
(1183, 'E Illinois', 1985, 2018)
(1184, 'E Kentucky', 1985, 2018)
(1185, 'E Michigan', 1985, 2018)
(1186, 'E Washington', 1985, 2018)
(1187, 'East Carolina', 1985, 2018)
(1188, 'Edwardsville', 2009, 2018)
(1189, 'Elon', 2000, 2018)
(1190, 'ETSU', 1985, 2018)
(1191, 'Evansville', 1985, 2018)
(1192, 'F Dickinson', 1985, 2018)
(1193, 'Fairfield', 1985, 2018)
(1194, 'FL Atlantic', 1994, 2018)
(1195, 'FL Gulf Coast', 2008, 2018)
(1196, 'Florida', 1985, 2018)
(1197, 'Florida A&M', 1985, 2018)
(1198, 'Florida Intl', 1988, 2018)
(1199, 'Florida St', 1985, 2018)
(1200, 'Fordham', 1985, 2018)
(1201, 'Fresno St', 1985, 2018)
(1202, 'Furman', 1985, 2018)
(1203, 'G Washington', 1985, 2018)
(1204, 'Ga Southern', 1985, 2018)
(1205, 'Gardner Webb', 2003, 2018)
(1206, 'George Mason', 1985, 2018)
(1207, 'Georgetown', 1985, 2018)
(1208, 'Georgia', 1985, 2018)
(1209, 'Georgia St', 1985, 2018)
(1210, 'Georgia Tech', 1985, 2018)
(1211, 'Gonzaga', 1985, 2018)
(1212, 'Grambling', 1985, 2018)
(1213, 'Grand Canyon', 2014, 2018)
(1214, 'Hampton', 1996, 2018)
(1215, 'Hardin-Simmons', 1985, 1990)
(1216, 'Hartford', 1985, 2018)
(1217, 'Harvard', 1985, 2018)
(1218, 'Hawaii', 1985, 2018)
(1219, 'High Point', 2000, 2018)
(1220, 'Hofstra', 1985, 2018)
(1221, 'Holy Cross', 1985, 2018)
(1222, 'Houston', 1985, 2018)
(1223, 'Houston Bap', 1985, 2018)
(1224, 'Howard', 1985, 2018)
(1225, 'Idaho', 1985, 2018)
(1226, 'Idaho St', 1985, 2018)
(1227, 'IL Chicago', 1985, 2018)
(1228, 'Illinois', 1985, 2018)
(1229, 'Illinois St', 1985, 2018)
(1230, 'Incarnate Word', 2014, 2018)
(1231, 'Indiana', 1985, 2018)
(1232, 'Indiana St', 1985, 2018)
(1233, 'Iona', 1985, 2018)
(1234, 'Iowa', 1985, 2018)
(1235, 'Iowa St', 1985, 2018)
(1236, 'IPFW', 2003, 2018)
(1237, 'IUPUI', 1999, 2018)
(1238, 'Jackson St', 1985, 2018)
(1239, 'Jacksonville', 1985, 2018)
(1240, 'Jacksonville St', 1996, 2018)
(1241, 'James Madison', 1985, 2018)
(1242, 'Kansas', 1985, 2018)
(1243, 'Kansas St', 1985, 2018)
(1244, 'Kennesaw', 2006, 2018)
(1245, 'Kent', 1985, 2018)
(1246, 'Kentucky', 1985, 2018)
(1247, 'La Salle', 1985, 2018)
(1248, 'Lafayette', 1985, 2018)
(1249, 'Lamar', 1985, 2018)
(1250, 'Lehigh', 1985, 2018)
(1251, 'Liberty', 1989, 2018)
(1252, 'Lipscomb', 2003, 2018)
(1253, 'Long Beach St', 1985, 2018)
(1254, 'Long Island', 1985, 2018)
(1255, 'Longwood', 2005, 2018)
(1256, 'Louisiana Tech', 1985, 2018)
(1257, 'Louisville', 1985, 2018)
(1258, 'Loy Marymount', 1985, 2018)
(1259, 'Loyola MD', 1985, 2018)
(1260, 'Loyola-Chicago', 1985, 2018)
(1261, 'LSU', 1985, 2018)
(1262, 'MA Lowell', 2014, 2018)
(1263, 'Maine', 1985, 2018)
(1264, 'Manhattan', 1985, 2018)
(1265, 'Marist', 1985, 2018)
(1266, 'Marquette', 1985, 2018)
(1267, 'Marshall', 1985, 2018)
(1268, 'Maryland', 1985, 2018)
(1269, 'Massachusetts', 1985, 2018)
(1270, 'McNeese St', 1985, 2018)
(1271, 'MD E Shore', 1985, 2018)
(1272, 'Memphis', 1985, 2018)
(1273, 'Mercer', 1985, 2018)
(1274, 'Miami FL', 1986, 2018)
(1275, 'Miami OH', 1985, 2018)
(1276, 'Michigan', 1985, 2018)
(1277, 'Michigan St', 1985, 2018)
(1278, 'Minnesota', 1985, 2018)
(1279, 'Mississippi', 1985, 2018)
(1280, 'Mississippi St', 1985, 2018)
(1281, 'Missouri', 1985, 2018)
(1282, 'Missouri KC', 1990, 2018)
(1283, 'Missouri St', 1985, 2018)
(1284, 'Monmouth NJ', 1985, 2018)
(1285, 'Montana', 1985, 2018)
(1286, 'Montana St', 1985, 2018)
(1287, 'Morehead St', 1985, 2018)
(1288, 'Morgan St', 1985, 2018)
(1289, 'Morris Brown', 2002, 2003)
(1290, 'MS Valley St', 1985, 2018)
(1291, "Mt St Mary's", 1989, 2018)
(1292, 'MTSU', 1985, 2018)
(1293, 'Murray St', 1985, 2018)
(1294, 'N Colorado', 2005, 2018)
(1295, 'N Dakota St', 2006, 2018)
(1296, 'N Illinois', 1985, 2018)
(1297, 'N Kentucky', 2013, 2018)
(1298, 'Navy', 1985, 2018)
(1299, 'NC A&T', 1985, 2018)
(1300, 'NC Central', 2008, 2018)
(1301, 'NC State', 1985, 2018)
(1302, 'NE Illinois', 1991, 1998)
(1303, 'NE Omaha', 2012, 2018)
(1304, 'Nebraska', 1985, 2018)
(1305, 'Nevada', 1985, 2018)
(1306, 'New Hampshire', 1985, 2018)
(1307, 'New Mexico', 1985, 2018)
(1308, 'New Mexico St', 1985, 2018)
(1309, 'New Orleans', 1985, 2018)
(1310, 'Niagara', 1985, 2018)
(1311, 'Nicholls St', 1985, 2018)
(1312, 'NJIT', 2007, 2018)
(1313, 'Norfolk St', 1998, 2018)
(1314, 'North Carolina', 1985, 2018)
(1315, 'North Dakota', 2009, 2018)
(1316, 'North Florida', 2006, 2018)
(1317, 'North Texas', 1985, 2018)
(1318, 'Northeastern', 1985, 2018)
(1319, 'Northern Arizona', 1985, 2018)
(1320, 'Northern Iowa', 1985, 2018)
(1321, 'Northwestern', 1985, 2018)
(1322, 'Northwestern LA', 1985, 2018)
(1323, 'Notre Dame', 1985, 2018)
(1324, 'Oakland', 2000, 2018)
(1325, 'Ohio', 1985, 2018)
(1326, 'Ohio St', 1985, 2018)
(1327, 'Okla City', 1985, 1985)
(1328, 'Oklahoma', 1985, 2018)
(1329, 'Oklahoma St', 1985, 2018)
(1330, 'Old Dominion', 1985, 2018)
(1331, 'Oral Roberts', 1985, 2018)
(1332, 'Oregon', 1985, 2018)
(1333, 'Oregon St', 1985, 2018)
(1334, 'Pacific', 1985, 2018)
(1335, 'Penn', 1985, 2018)
(1336, 'Penn St', 1985, 2018)
(1337, 'Pepperdine', 1985, 2018)
(1338, 'Pittsburgh', 1985, 2018)
(1339, 'Portland', 1985, 2018)
(1340, 'Portland St', 1999, 2018)
(1341, 'Prairie View', 1985, 2018)
(1342, 'Presbyterian', 2008, 2018)
(1343, 'Princeton', 1985, 2018)
(1344, 'Providence', 1985, 2018)
(1345, 'Purdue', 1985, 2018)
(1346, 'Quinnipiac', 1999, 2018)
(1347, 'Radford', 1985, 2018)
(1348, 'Rhode Island', 1985, 2018)
(1349, 'Rice', 1985, 2018)
(1350, 'Richmond', 1985, 2018)
(1351, 'Rider', 1985, 2018)
(1352, 'Robert Morris', 1985, 2018)

(1353, 'Rutgers', 1985, 2018)
(1354, 'S Carolina St', 1985, 2018)
(1355, 'S Dakota St', 2006, 2018)
(1356, 'S Illinois', 1985, 2018)
(1357, 'Sacred Heart', 2000, 2018)
(1358, 'Sam Houston St', 1987, 2018)
(1359, 'Samford', 1985, 2018)
(1360, 'San Diego', 1985, 2018)
(1361, 'San Diego St', 1985, 2018)
(1362, 'San Francisco', 1986, 2018)
(1363, 'San Jose St', 1985, 2018)
(1364, 'Santa Barbara', 1985, 2018)
(1365, 'Santa Clara', 1985, 2018)
(1366, 'Savannah St', 2003, 2018)
(1367, 'SC Upstate', 2008, 2018)
(1368, 'SE Louisiana', 1985, 2018)
(1369, 'SE Missouri St', 1992, 2018)
(1370, 'Seattle', 2009, 2018)
(1371, 'Seton Hall', 1985, 2018)
(1372, 'SF Austin', 1987, 2018)
(1373, 'Siena', 1985, 2018)
(1374, 'SMU', 1985, 2018)
(1375, 'South Alabama', 1985, 2018)
(1376, 'South Carolina', 1985, 2018)
(1377, 'South Dakota', 2009, 2018)
(1378, 'South Florida', 1985, 2018)
(1379, 'Southern Miss', 1985, 2018)
(1380, 'Southern Univ', 1985, 2018)
(1381, 'Southern Utah', 1989, 2018)
(1382, 'St Bonaventure', 1985, 2018)
(1383, 'St Francis NY', 1985, 2018)
(1384, 'St Francis PA', 1985, 2018)
(1385, "St John's", 1985, 2018)
(1386, "St Joseph's PA", 1985, 2018)
(1387, 'St Louis', 1985, 2018)
(1388, "St Mary's CA", 1985, 2018)
(1389, "St Peter's", 1985, 2018)
(1390, 'Stanford', 1985, 2018)
(1391, 'Stetson', 1985, 2018)
(1392, 'Stony Brook', 2000, 2018)
(1393, 'Syracuse', 1985, 2018)
(1394, 'TAM C. Christi', 2003, 2018)
(1395, 'TCU', 1985, 2018)
(1396, 'Temple', 1985, 2018)
(1397, 'Tennessee', 1985, 2018)
(1398, 'Tennessee St', 1985, 2018)
(1399, 'Tennessee Tech', 1985, 2018)
(1400, 'Texas', 1985, 2018)
(1401, 'Texas A&M', 1985, 2018)
(1402, 'Texas St', 1985, 2018)
(1403, 'Texas Tech', 1985, 2018)
(1404, 'TN Martin', 1993, 2018)
(1405, 'Toledo', 1985, 2018)
(1406, 'Towson', 1985, 2018)
(1407, 'Troy', 1994, 2018)
(1408, 'Tulane', 1985, 2018)
(1409, 'Tulsa', 1985, 2018)
(1410, 'UTRGV', 1985, 2018)
(1411, 'TX Southern', 1985, 2018)
(1412, 'UAB', 1985, 2018)
(1413, 'UC Davis', 2005, 2018)
(1414, 'UC Irvine', 1985, 2018)
(1415, 'UC Riverside', 2002, 2018)
(1416, 'UCF', 1985, 2018)
(1417, 'UCLA', 1985, 2018)
(1418, 'ULL', 1985, 2018)
(1419, 'ULM', 1985, 2018)
(1420, 'UMBC', 1987, 2018)
(1421, 'UNC Asheville', 1987, 2018)
(1422, 'UNC Greensboro', 1992, 2018)
(1423, 'UNC Wilmington', 1985, 2018)
(1424, 'UNLV', 1985, 2018)
(1425, 'USC', 1985, 2018)
(1426, 'UT Arlington', 1985, 2018)
(1427, 'UT San Antonio', 1985, 2018)
(1428, 'Utah', 1985, 2018)
(1429, 'Utah St', 1985, 2018)
(1430, 'Utah Valley', 2005, 2018)
(1431, 'UTEP', 1985, 2018)
(1432, 'Utica', 1985, 1987)
(1433, 'VA Commonwealth', 1985, 2018)
(1434, 'Valparaiso', 1985, 2018)
(1435, 'Vanderbilt', 1985, 2018)
(1436, 'Vermont', 1985, 2018)
(1437, 'Villanova', 1985, 2018)
(1438, 'Virginia', 1985, 2018)
(1439, 'Virginia Tech', 1985, 2018)
(1440, 'VMI', 1985, 2018)
(1441, 'W Carolina', 1985, 2018)
(1442, 'W Illinois', 1985, 2018)
(1443, 'WKU', 1985, 2018)
(1444, 'W Michigan', 1985, 2018)
(1445, 'W Salem St', 2007, 2010)
(1446, 'W Texas A&M', 1985, 1986)
(1447, 'Wagner', 1985, 2018)
(1448, 'Wake Forest', 1985, 2018)
(1449, 'Washington', 1985, 2018)
(1450, 'Washington St', 1985, 2018)
(1451, 'Weber St', 1985, 2018)
(1452, 'West Virginia', 1985, 2018)
(1453, 'WI Green Bay', 1985, 2018)
(1454, 'WI Milwaukee', 1991, 2018)
(1455, 'Wichita St', 1985, 2018)
(1456, 'William & Mary', 1985, 2018)
(1457, 'Winthrop', 1987, 2018)
(1458, 'Wisconsin', 1985, 2018)
(1459, 'Wofford', 1996, 2018)
(1460, 'Wright St', 1988, 2018)
(1461, 'Wyoming', 1985, 2018)
(1462, 'Xavier', 1985, 2018)
(1463, 'Yale', 1985, 2018)
(1464, 'Youngstown St', 1985, 2018)

In [165]:
#trying to use this to connect multiple tables 

def march_madness_db1(db_file = "march_madness.db", 
                    data_file = ["teams.csv", "tourney_seeds.csv"]):#,
                    #data_file2 = "tourney_seeds.csv"):
    #create cursor which allows us to execute sql quities against a data base 
    
    with open(data_file, "r") as infile:
        rows = list(csv.reader(infile))
    
    with sql.connect(db_file) as conn:
        cur = conn.cursor()
        
        #recreate the table
        cur.execute("DROP TABLE IF EXISTS teams;")
        cur.execute("CREATE TABLE teams (TeamID INTEGER, TeamName STRING, FirstD1Season	 INTEGER, LastD1Season INTEGER);")
        
        cur.execute("DROP TABLE IF EXISTS tourney_seeds")
        cur.execute("CREATE TABLE tourney_seeds (Season INTEGER, Seed STRING, TeamID INTEGER);")
        
        
        
        #populate the table 
        cur.executemany("INSERT INTO teams VALUES (?, ?, ?, ?);", rows)
        cur.executemany("INSERT INTO tourney_seeds VALUES (?, ?, ?);", rows)
        
        
        
    for row in cur.execute("SELECT * FROM teams"):
        print(row)
        
    for row in cur.execute("SELECT * FROM tourney_seeds"):
        print(row)
        
    conn.commit()
    
conn.close()

if __name__ == "__main__":
    march_madness_db(db_file = "march_madness.db", data_file = "teams.csv")
    march_madness_db(db_file = "march_madness.db", data_file = 'tourney_seeds.csv')

('TeamID', 'TeamName', 'FirstD1Season', 'LastD1Season')
(1101, 'Abilene Chr', 2014, 2018)
(1102, 'Air Force', 1985, 2018)
(1103, 'Akron', 1985, 2018)
(1104, 'Alabama', 1985, 2018)
(1105, 'Alabama A&M', 2000, 2018)
(1106, 'Alabama St', 1985, 2018)
(1107, 'Albany NY', 2000, 2018)
(1108, 'Alcorn St', 1985, 2018)
(1109, 'Alliant Intl', 1985, 1991)
(1110, 'American Univ', 1985, 2018)
(1111, 'Appalachian St', 1985, 2018)
(1112, 'Arizona', 1985, 2018)
(1113, 'Arizona St', 1985, 2018)
(1114, 'Ark Little Rock', 1985, 2018)
(1115, 'Ark Pine Bluff', 1999, 2018)
(1116, 'Arkansas', 1985, 2018)
(1117, 'Arkansas St', 1985, 2018)
(1118, 'Armstrong St', 1987, 1987)
(1119, 'Army', 1985, 2018)
(1120, 'Auburn', 1985, 2018)
(1121, 'Augusta', 1985, 1991)
(1122, 'Austin Peay', 1985, 2018)
(1123, 'Ball St', 1985, 2018)
(1124, 'Baylor', 1985, 2018)
(1125, 'Belmont', 2000, 2018)
(1126, 'Bethune-Cookman', 1985, 2018)
(1127, 'Binghamton', 2002, 2018)
(1128, 'Birmingham So', 2003, 2006)
(1129, 'Boise St', 1985, 2018)
(1130, 'Boston College', 1985, 2018)
(1131, 'Boston Univ', 1985, 2018)
(1132, 'Bowling Green', 1985, 2018)
(1133, 'Bradley', 1985, 2018)
(1134, 'Brooklyn', 1985, 1992)
(1135, 'Brown', 1985, 2018)
(1136, 'Bryant', 2009, 2018)
(1137, 'Bucknell', 1985, 2018)
(1138, 'Buffalo', 1992, 2018)
(1139, 'Butler', 1985, 2018)
(1140, 'BYU', 1985, 2018)
(1141, 'C Michigan', 1985, 2018)
(1142, 'Cal Poly SLO', 1995, 2018)
(1143, 'California', 1985, 2018)
(1144, 'Campbell', 1985, 2018)
(1145, 'Canisius', 1985, 2018)
(1146, 'Cent Arkansas', 2007, 2018)
(1147, 'Centenary', 1985, 2011)
(1148, 'Central Conn', 1987, 2018)
(1149, 'Charleston So', 1985, 2018)
(1150, 'Charlotte', 1985, 2018)
(1151, 'Chattanooga', 1985, 2018)
(1152, 'Chicago St', 1985, 2018)
(1153, 'Cincinnati', 1985, 2018)
(1154, 'Citadel', 1985, 2018)
(1155, 'Clemson', 1985, 2018)
(1156, 'Cleveland St', 1985, 2018)
(1157, 'Coastal Car', 1987, 2018)
(1158, 'Col Charleston', 1992, 2018)
(1159, 'Colgate', 1985, 2018)
(1160, 'Colorado', 1985, 2018)
(1161, 'Colorado St', 1985, 2018)
(1162, 'Columbia', 1985, 2018)
(1163, 'Connecticut', 1985, 2018)
(1164, 'Coppin St', 1986, 2018)
(1165, 'Cornell', 1985, 2018)
(1166, 'Creighton', 1985, 2018)
(1167, 'CS Bakersfield', 2008, 2018)
(1168, 'CS Fullerton', 1985, 2018)
(1169, 'CS Northridge', 1991, 2018)
(1170, 'CS Sacramento', 1992, 2018)
(1171, 'Dartmouth', 1985, 2018)
(1172, 'Davidson', 1985, 2018)
(1173, 'Dayton', 1985, 2018)
(1174, 'Delaware', 1985, 2018)
(1175, 'Delaware St', 1985, 2018)
(1176, 'Denver', 1999, 2018)
(1177, 'DePaul', 1985, 2018)
(1178, 'Detroit', 1985, 2018)
(1179, 'Drake', 1985, 2018)
(1180, 'Drexel', 1985, 2018)
(1181, 'Duke', 1985, 2018)
(1182, 'Duquesne', 1985, 2018)
(1183, 'E Illinois', 1985, 2018)
(1184, 'E Kentucky', 1985, 2018)
(1185, 'E Michigan', 1985, 2018)
(1186, 'E Washington', 1985, 2018)
(1187, 'East Carolina', 1985, 2018)
(1188, 'Edwardsville', 2009, 2018)
(1189, 'Elon', 2000, 2018)
(1190, 'ETSU', 1985, 2018)
(1191, 'Evansville', 1985, 2018)
(1192, 'F Dickinson', 1985, 2018)
(1193, 'Fairfield', 1985, 2018)
(1194, 'FL Atlantic', 1994, 2018)
(1195, 'FL Gulf Coast', 2008, 2018)
(1196, 'Florida', 1985, 2018)
(1197, 'Florida A&M', 1985, 2018)
(1198, 'Florida Intl', 1988, 2018)
(1199, 'Florida St', 1985, 2018)
(1200, 'Fordham', 1985, 2018)
(1201, 'Fresno St', 1985, 2018)
(1202, 'Furman', 1985, 2018)
(1203, 'G Washington', 1985, 2018)
(1204, 'Ga Southern', 1985, 2018)
(1205, 'Gardner Webb', 2003, 2018)
(1206, 'George Mason', 1985, 2018)
(1207, 'Georgetown', 1985, 2018)
(1208, 'Georgia', 1985, 2018)
(1209, 'Georgia St', 1985, 2018)
(1210, 'Georgia Tech', 1985, 2018)
(1211, 'Gonzaga', 1985, 2018)
(1212, 'Grambling', 1985, 2018)
(1213, 'Grand Canyon', 2014, 2018)
(1214, 'Hampton', 1996, 2018)
(1215, 'Hardin-Simmons', 1985, 1990)
(1216, 'Hartford', 1985, 2018)
(1217, 'Harvard', 1985, 2018)
(1218, 'Hawaii', 1985, 2018)
(1219, 'High Point', 2000, 2018)
(1220, 'Hofstra', 1985, 2018)
(1221, 'Holy Cross', 1985, 2018)
(1222, 'Houston', 1985, 2018)
(1223, 'Houston Bap', 1985, 2018)
(1224, 'Howard', 1985, 2018)
(1225, 'Idaho', 1985, 2018)
(1226, 'Idaho St', 1985, 2018)
(1227, 'IL Chicago', 1985, 2018)
(1228, 'Illinois', 1985, 2018)
(1229, 'Illinois St', 1985, 2018)
(1230, 'Incarnate Word', 2014, 2018)
(1231, 'Indiana', 1985, 2018)
(1232, 'Indiana St', 1985, 2018)
(1233, 'Iona', 1985, 2018)
(1234, 'Iowa', 1985, 2018)
(1235, 'Iowa St', 1985, 2018)
(1236, 'IPFW', 2003, 2018)
(1237, 'IUPUI', 1999, 2018)
(1238, 'Jackson St', 1985, 2018)
(1239, 'Jacksonville', 1985, 2018)
(1240, 'Jacksonville St', 1996, 2018)
(1241, 'James Madison', 1985, 2018)
(1242, 'Kansas', 1985, 2018)
(1243, 'Kansas St', 1985, 2018)
(1244, 'Kennesaw', 2006, 2018)
(1245, 'Kent', 1985, 2018)
(1246, 'Kentucky', 1985, 2018)
(1247, 'La Salle', 1985, 2018)
(1248, 'Lafayette', 1985, 2018)
(1249, 'Lamar', 1985, 2018)
(1250, 'Lehigh', 1985, 2018)
(1251, 'Liberty', 1989, 2018)
(1252, 'Lipscomb', 2003, 2018)
(1253, 'Long Beach St', 1985, 2018)
(1254, 'Long Island', 1985, 2018)
(1255, 'Longwood', 2005, 2018)
(1256, 'Louisiana Tech', 1985, 2018)
(1257, 'Louisville', 1985, 2018)
(1258, 'Loy Marymount', 1985, 2018)
(1259, 'Loyola MD', 1985, 2018)
(1260, 'Loyola-Chicago', 1985, 2018)
(1261, 'LSU', 1985, 2018)
(1262, 'MA Lowell', 2014, 2018)
(1263, 'Maine', 1985, 2018)
(1264, 'Manhattan', 1985, 2018)
(1265, 'Marist', 1985, 2018)
(1266, 'Marquette', 1985, 2018)
(1267, 'Marshall', 1985, 2018)
(1268, 'Maryland', 1985, 2018)
(1269, 'Massachusetts', 1985, 2018)
(1270, 'McNeese St', 1985, 2018)
(1271, 'MD E Shore', 1985, 2018)
(1272, 'Memphis', 1985, 2018)
(1273, 'Mercer', 1985, 2018)
(1274, 'Miami FL', 1986, 2018)
(1275, 'Miami OH', 1985, 2018)
(1276, 'Michigan', 1985, 2018)
(1277, 'Michigan St', 1985, 2018)
(1278, 'Minnesota', 1985, 2018)
(1279, 'Mississippi', 1985, 2018)
(1280, 'Mississippi St', 1985, 2018)
(1281, 'Missouri', 1985, 2018)
(1282, 'Missouri KC', 1990, 2018)
(1283, 'Missouri St', 1985, 2018)
(1284, 'Monmouth NJ', 1985, 2018)
(1285, 'Montana', 1985, 2018)
(1286, 'Montana St', 1985, 2018)
(1287, 'Morehead St', 1985, 2018)
(1288, 'Morgan St', 1985, 2018)
(1289, 'Morris Brown', 2002, 2003)
(1290, 'MS Valley St', 1985, 2018)
(1291, "Mt St Mary's", 1989, 2018)
(1292, 'MTSU', 1985, 2018)
(1293, 'Murray St', 1985, 2018)
(1294, 'N Colorado', 2005, 2018)
(1295, 'N Dakota St', 2006, 2018)
(1296, 'N Illinois', 1985, 2018)
(1297, 'N Kentucky', 2013, 2018)
(1298, 'Navy', 1985, 2018)
(1299, 'NC A&T', 1985, 2018)
(1300, 'NC Central', 2008, 2018)
(1301, 'NC State', 1985, 2018)
(1302, 'NE Illinois', 1991, 1998)
(1303, 'NE Omaha', 2012, 2018)
(1304, 'Nebraska', 1985, 2018)
(1305, 'Nevada', 1985, 2018)
(1306, 'New Hampshire', 1985, 2018)
(1307, 'New Mexico', 1985, 2018)
(1308, 'New Mexico St', 1985, 2018)
(1309, 'New Orleans', 1985, 2018)
(1310, 'Niagara', 1985, 2018)
(1311, 'Nicholls St', 1985, 2018)
(1312, 'NJIT', 2007, 2018)
(1313, 'Norfolk St', 1998, 2018)
(1314, 'North Carolina', 1985, 2018)
(1315, 'North Dakota', 2009, 2018)
(1316, 'North Florida', 2006, 2018)
(1317, 'North Texas', 1985, 2018)
(1318, 'Northeastern', 1985, 2018)
(1319, 'Northern Arizona', 1985, 2018)
(1320, 'Northern Iowa', 1985, 2018)
(1321, 'Northwestern', 1985, 2018)
(1322, 'Northwestern LA', 1985, 2018)
(1323, 'Notre Dame', 1985, 2018)
(1324, 'Oakland', 2000, 2018)
(1325, 'Ohio', 1985, 2018)
(1326, 'Ohio St', 1985, 2018)
(1327, 'Okla City', 1985, 1985)
(1328, 'Oklahoma', 1985, 2018)
(1329, 'Oklahoma St', 1985, 2018)
(1330, 'Old Dominion', 1985, 2018)
(1331, 'Oral Roberts', 1985, 2018)
(1332, 'Oregon', 1985, 2018)
(1333, 'Oregon St', 1985, 2018)
(1334, 'Pacific', 1985, 2018)
(1335, 'Penn', 1985, 2018)
(1336, 'Penn St', 1985, 2018)
(1337, 'Pepperdine', 1985, 2018)
(1338, 'Pittsburgh', 1985, 2018)
(1339, 'Portland', 1985, 2018)
(1340, 'Portland St', 1999, 2018)
(1341, 'Prairie View', 1985, 2018)
(1342, 'Presbyterian', 2008, 2018)
(1343, 'Princeton', 1985, 2018)
(1344, 'Providence', 1985, 2018)
(1345, 'Purdue', 1985, 2018)
(1346, 'Quinnipiac', 1999, 2018)
(1347, 'Radford', 1985, 2018)
(1348, 'Rhode Island', 1985, 2018)
(1349, 'Rice', 1985, 2018)
(1350, 'Richmond', 1985, 2018)
(1351, 'Rider', 1985, 2018)
(1352, 'Robert Morris', 1985, 2018)

(1353, 'Rutgers', 1985, 2018)
(1354, 'S Carolina St', 1985, 2018)
(1355, 'S Dakota St', 2006, 2018)
(1356, 'S Illinois', 1985, 2018)
(1357, 'Sacred Heart', 2000, 2018)
(1358, 'Sam Houston St', 1987, 2018)
(1359, 'Samford', 1985, 2018)
(1360, 'San Diego', 1985, 2018)
(1361, 'San Diego St', 1985, 2018)
(1362, 'San Francisco', 1986, 2018)
(1363, 'San Jose St', 1985, 2018)
(1364, 'Santa Barbara', 1985, 2018)
(1365, 'Santa Clara', 1985, 2018)
(1366, 'Savannah St', 2003, 2018)
(1367, 'SC Upstate', 2008, 2018)
(1368, 'SE Louisiana', 1985, 2018)
(1369, 'SE Missouri St', 1992, 2018)
(1370, 'Seattle', 2009, 2018)
(1371, 'Seton Hall', 1985, 2018)
(1372, 'SF Austin', 1987, 2018)
(1373, 'Siena', 1985, 2018)
(1374, 'SMU', 1985, 2018)
(1375, 'South Alabama', 1985, 2018)
(1376, 'South Carolina', 1985, 2018)
(1377, 'South Dakota', 2009, 2018)
(1378, 'South Florida', 1985, 2018)
(1379, 'Southern Miss', 1985, 2018)
(1380, 'Southern Univ', 1985, 2018)
(1381, 'Southern Utah', 1989, 2018)
(1382, 'St Bonaventure', 1985, 2018)
(1383, 'St Francis NY', 1985, 2018)
(1384, 'St Francis PA', 1985, 2018)
(1385, "St John's", 1985, 2018)
(1386, "St Joseph's PA", 1985, 2018)
(1387, 'St Louis', 1985, 2018)
(1388, "St Mary's CA", 1985, 2018)
(1389, "St Peter's", 1985, 2018)
(1390, 'Stanford', 1985, 2018)
(1391, 'Stetson', 1985, 2018)
(1392, 'Stony Brook', 2000, 2018)
(1393, 'Syracuse', 1985, 2018)
(1394, 'TAM C. Christi', 2003, 2018)
(1395, 'TCU', 1985, 2018)
(1396, 'Temple', 1985, 2018)
(1397, 'Tennessee', 1985, 2018)
(1398, 'Tennessee St', 1985, 2018)
(1399, 'Tennessee Tech', 1985, 2018)
(1400, 'Texas', 1985, 2018)
(1401, 'Texas A&M', 1985, 2018)
(1402, 'Texas St', 1985, 2018)
(1403, 'Texas Tech', 1985, 2018)
(1404, 'TN Martin', 1993, 2018)
(1405, 'Toledo', 1985, 2018)
(1406, 'Towson', 1985, 2018)
(1407, 'Troy', 1994, 2018)
(1408, 'Tulane', 1985, 2018)
(1409, 'Tulsa', 1985, 2018)
(1410, 'UTRGV', 1985, 2018)
(1411, 'TX Southern', 1985, 2018)
(1412, 'UAB', 1985, 2018)
(1413, 'UC Davis', 2005, 2018)
(1414, 'UC Irvine', 1985, 2018)
(1415, 'UC Riverside', 2002, 2018)
(1416, 'UCF', 1985, 2018)
(1417, 'UCLA', 1985, 2018)
(1418, 'ULL', 1985, 2018)
(1419, 'ULM', 1985, 2018)
(1420, 'UMBC', 1987, 2018)
(1421, 'UNC Asheville', 1987, 2018)
(1422, 'UNC Greensboro', 1992, 2018)
(1423, 'UNC Wilmington', 1985, 2018)
(1424, 'UNLV', 1985, 2018)
(1425, 'USC', 1985, 2018)
(1426, 'UT Arlington', 1985, 2018)
(1427, 'UT San Antonio', 1985, 2018)
(1428, 'Utah', 1985, 2018)
(1429, 'Utah St', 1985, 2018)
(1430, 'Utah Valley', 2005, 2018)
(1431, 'UTEP', 1985, 2018)
(1432, 'Utica', 1985, 1987)
(1433, 'VA Commonwealth', 1985, 2018)
(1434, 'Valparaiso', 1985, 2018)
(1435, 'Vanderbilt', 1985, 2018)
(1436, 'Vermont', 1985, 2018)
(1437, 'Villanova', 1985, 2018)
(1438, 'Virginia', 1985, 2018)
(1439, 'Virginia Tech', 1985, 2018)
(1440, 'VMI', 1985, 2018)
(1441, 'W Carolina', 1985, 2018)
(1442, 'W Illinois', 1985, 2018)
(1443, 'WKU', 1985, 2018)
(1444, 'W Michigan', 1985, 2018)
(1445, 'W Salem St', 2007, 2010)
(1446, 'W Texas A&M', 1985, 1986)
(1447, 'Wagner', 1985, 2018)
(1448, 'Wake Forest', 1985, 2018)
(1449, 'Washington', 1985, 2018)
(1450, 'Washington St', 1985, 2018)
(1451, 'Weber St', 1985, 2018)
(1452, 'West Virginia', 1985, 2018)
(1453, 'WI Green Bay', 1985, 2018)
(1454, 'WI Milwaukee', 1991, 2018)
(1455, 'Wichita St', 1985, 2018)
(1456, 'William & Mary', 1985, 2018)
(1457, 'Winthrop', 1987, 2018)
(1458, 'Wisconsin', 1985, 2018)
(1459, 'Wofford', 1996, 2018)
(1460, 'Wright St', 1988, 2018)
(1461, 'Wyoming', 1985, 2018)
(1462, 'Xavier', 1985, 2018)
(1463, 'Yale', 1985, 2018)
(1464, 'Youngstown St', 1985, 2018)

FileNotFoundError: [Errno 2] No such file or directory: 'tourney_seeds.csv'